@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

::-webkit-scrollbar {
    display: none;
}

header{
    
    display: flex;
    margin: auto;
    padding: 10px;
    background-color: #00a7e1;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 60px;
    height: 60px;
    padding: 10px;
    transform: rotate(40deg);
    margin: auto;
    
}

.pegada2 {
    transform: rotate(130deg)

}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 7vh;
    font-weight: 700;
    text-align: center;
    display: flex;
    
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    margin: auto;
    padding: 2px;
    
}
nav a {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 17px;
    padding-top: 5px;
    margin: auto;
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

h2 {
    text-align: center;
    margin-top: auto;
    padding: 13px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 5vh;
    color: #fff;
    font-weight: 700;
}

h3 {
    text-align: center;
    margin-top: auto;
    padding-top: 28px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 5vh;
    color: #fff;
    font-weight: 700;
    text-decoration: underline;

}

body {
    background-color: purple;
}

section {
    font-family: 'Merriweather Sans', sans-serif;
    justify-content: space-between;
    display: flex;
    margin: auto;
    padding: auto;
    
}

/* Carousel */

* { margin: 0; padding: 0; }

.slider {
    display: flex;
    height: 360px;
    width: 600px;
    margin: auto;
    position: relative;
    align-items: center;
    Justify-content: center

}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    height: 400px;
    width: 900px;
    border-radius: 15px;
    vertical-align: top;
    margin: auto;
    border: 3px solid orange;
}

.slider input {
    justify-content: center;
    align-items: center;
    display: none;
}

.slider label {
    background-color: orange;
    bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    height: 10px;
    position: relative;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/* Cards */


.cards-container {
    padding: 50px 5px;
    margin: auto;
    display: flex;
}


.adopt-card {
    font-family: 'Merriweather Sans', sans-serif;
    width: 100%;
    background-color: orange;
    border: 3px solid wheat;
    margin: auto;
    display: flex;
    text-align: start;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    
}

.adopt-card img {
    width: 100%;
    width: 100%;
    border-radius: 8px;
    border: 4px solid wheat;

}

.adopt-card-description {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    height: 230px;
}

.adopt-card-description p {
    text-align: start;
    font-size: 15px;
    
}

.adopt-card-description h3 {
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

/* Animated Botton */

button, .arrow-button, .arrow-next {
    border: none;
    transition: all .5s;
    width: 180px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    margin: 8px;
    }

    button p, .arrow-button img, .arrow-next img{
    display: inline-block;
    position: relative;
    transition: all .5s;
}


.container-button p{
    font-size: 14px;
    font-weight: 700;
    color: white;
    
}

button:hover {
    cursor: pointer;
}

.bounce-effect:hover {
    width: 189px;
    height: 42px;
}

.bounce-effect:active {
    width: 171px;
    height: 38px;
}


.third-button {
    background: purple;
    border-radius: 8px;
    color: #FFF;
    padding: 0;
    outline-offset: 4px;
}

.third-button p {
    display: block;
    padding: 12px 42px;
    border-radius: 8px;
    background: magenta;
    transform: translateY(-7px);
}

.third-button:hover p {
    transform: translateY(-6px);
}

.third-button:active p {
    transform: translateY(-1px);
}